:root {
  /* COLORS ============================================================ */
  /* Primary colors */
  --p-50: hsl(199, 100%, 96%);
  --p-100: hsl(201, 100%, 90%);
  --p-200: hsl(200, 100%, 83%);
  --p-300: hsl(198, 100%, 71%);
  --p-300-code: 198, 100%, 71%;
  --p-400: hsl(200, 100%, 57%);
  --p-500: hsl(204, 100%, 50%);
  --p-600: hsl(208, 100%, 50%);
  --p-600-code: 208, 100%, 50%;
  --p-700: hsl(211, 100%, 50%);
  --p-800: hsl(212, 100%, 45%);
  --p-900: hsl(211, 100%, 35%);
  --p-900-code: 211, 100%, 35%;
  --p-950: hsl(213, 100%, 17%);
  --p-950-code: 213, 100%, 17%;
  /* Neutrals colors */
  --foreground: hsl(210, 25%, 98%);
  --background: hsl(200, 29%, 94%);
  --border: hsl(203, 28%, 87%);
  --copy: hsl(206, 27%, 15%);
  --copylight: hsl(204, 27%, 40%);
  --copylighter: hsl(204, 28%, 55%);
  --foreground-color: hsl(0, 0%, 100%);
  /* Gradient colors https://www.cssportal.com/css-gradient-generator/ */

  /* Utility */
  --u-success: hsl(120, 100%, 50%);
  --u-success-code: 120, 100%, 50%;
  --u-warning: hsl(60, 100%, 50%);
  --u-warning-code: 60, 100%, 50%;
  --u-error: hsl(0, 100%, 50%);
  --u-error-code: 0, 100%, 50%;
  --u-content: hsl(0, 0%, 0%);
  --u-contentError: hsl(0, 100%, 100%);

  --u-gold: rgba(235, 181, 66, 1);
  --u-gold-code: 38, 100%, 50%;
  --u-green: hsla(127, 100%, 36%, 1);
  --u-red: hsla(2, 100%, 46%, 1);
}
